<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<%= render '/head.*' %>
<%= render '/canonical_urls.*' %>
</head>
<body itemscope itemtype="http://schema.org/WebPage" data-spy="scroll" data-target="#doc-nav" data-offset="90">
  <%= render '/gtm.*' %>
  <%= render '/header.*' %>
  <div id="js-version-banner" <%= 'data-is-outdated' if show_version_banner? %> data-latest-version-url="<%= @item.identifier.without_ext + '.html' %>" data-archives-url="/archives/"></div>

  <div class="wrapper">
    <div class="nav-wrapper active">
      <aside id="global-nav" class="global-nav">
      <% if ENV['CI_PROJECT_NAME'] == 'gitlab-docs' or ENV['CI_PROJECT_NAME'].nil? %>
        <%= render '/global_nav.*' %>
      <% end %>
      </aside>
      <div id="js-nav-toggle"></div>
    </div>
    <div class="main class js-main-wrapper">
      <% if @config[:breadcrumbs] %>
        <% ancestor_array = ancestor_path_array(@item) unless ancestor_path_array(@item).empty? %>
        <% if ancestor_array %>
          <ul class="breadcrumbs">
            <% ancestor_array.reverse_each do |item| %>
              <li class="breadcrumb"><%= link_to item.key?(:title) ? "#{item[:title]}" : "Breadcrumb", item %></li>
            <% end %>
            <li class="breadcrumb"><%= @item.key?(:title) ? "#{@item[:title]}" : "Current page" %></li>
          </ul>
          <div id="doc-nav" class="doc-nav">
            <a class="toc-collapse" data-toggle="collapse" href="#markdown-toc" aria-expanded="true" aria-controls="markdown-toc"></a>
          </div>
        <% else %>
          <div id="doc-nav" class="doc-nav toc-no-breadcrumbs">
            <a class="toc-collapse" role="button" data-toggle="collapse" href="#markdown-toc" aria-expanded="true" aria-controls="markdown-toc"></a>
          </div>
        <% end %>
      <% end %>
      <% if @item[:title] %>
        <h1 class="article-title" itemprop="name">
          <%= @item[:title] %><%= @item[:title_badge] %>
        </h1>
      <% end %>
      <div class="article-metadata">
        <% if @item[:author] and @item[:author_gitlab] %>
          Article written by <a href="https://gitlab.com/<%= @item[:author_gitlab] %>" target="_blank"><%= @item[:author] %></a>
          &#8226;
        <% end %>
        <% if @item[:date] %>
          on <%= @item[:date] %>
          &#8226;
        <% end %>
        <% if @item[:article_type] %>
          Type: <%= @item[:article_type] %>
        <% end %>
        <% if @item[:level] %>
          Level: <%= @item[:level] %>
          &#8226;
        <% end %>
        <% if @item[:last_updated] %>
          Last updated: <%= @item[:last_updated] %>
          &#8226;
        <% end %>
        <% if @item[:reading_time] %>
          <%= reading_time(item.raw_content.split.size) %> to read
        <% end %>
      </div>
      <div class="article-content js-article-content" role="main" itemscope itemprop="mainContentOfPage">
        <%= yield %>
      </div>
      <%= render '/feedback.*' %>
    </div>
    <div class="clear"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/clipboardjs.*'].path %>"></script>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
  <%= render '/docsearch.*' %>
  <%= render '/mermaid.*' %>
  <% if ENV['NANOC_ENV'] == 'production' %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  <%= render '/footer.*' %>
  <script src="<%= @items['/assets/javascripts/docs.*'].path %>"></script>
  <script src="<%= @items['/assets/javascripts/global-nav.*'].path %>"></script>
  <script src="<%= @items['/assets/javascripts/tables.*'].path %>"></script>
  <script src="<%= @items['/frontend/default/default.*'].path %>" data-cookieconsent="ignore"></script>
  <%= icons_sprite %>
</body>
</html>
