<footer class="px-4 border-top footer-new">
  <div class="row py-2">
    <div class="col-9">
      <a href="<%= edit_on_gitlab(@item) %>"><span class="text-decoration-underline">Edit this page</span></a>
      <a href="<%= edit_on_gitlab(@item, editor: :webide) %>">(<span class="text-decoration-underline">Web IDE</span>)</a>
    </div>
    <div class="col-3 p-0 m-0">
      <div class="d-none d-md-flex justify-content-end">
        <ul class="list-unstyled list-inline mb-0 d-flex flex-wrap">
          <li>
            <a href="https://www.facebook.com/gitlab" target="_blank" class="pr-3 text-decoration-none"><i class='fa fa-facebook-square'></i> <span class=sr-only>Facebook</span> </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg" target="_blank" class="pr-3 text-decoration-none"><i class='fa fa-youtube-play'></i> <span class=sr-only>YouTube</span> </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/gitlab-com" target="_blank" class="pr-3 text-decoration-none"><i class='fa fa-linkedin-square'></i> <span class=sr-only>LinkedIn</span> </a>
          </li>
          <li>
            <a href="https://twitter.com/gitlab" target="_blank" class="text-decoration-none"><i class='fa fa-twitter'></i> <span class=sr-only>Twitter</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-12 py-3">
      <img src="<%= @items['/assets/images/gitlab-logo.svg'].path %>" class="logo" width="24" height="24" />
    </div>
    <div class="col-12 py-1">
      <ul class="list-unstyled list-inline mb-0 d-flex flex-wrap">
        <li>
          <a href='https://gitlab.com/gitlab-org/gitlab-docs' target='_blank' class="text-dark font-weight-bold pr-2 text-decoration-none">GitLab</a>
        </li>
        <li>
          <a href='https://gitlab.com/gitlab-org/gitlab-docs' target='_blank' class="text-dark font-weight-bold px-2 text-decoration-none">Omnibus</a>
        </li>
        <li>
          <a href='https://gitlab.com/gitlab-org/gitlab-docs' target='_blank' class="text-dark font-weight-bold px-2 text-decoration-none">Runner</a>
        </li>
        <li>
          <a href='https://gitlab.com/gitlab-org/gitlab-docs' target='_blank' class="text-dark font-weight-bold px-2 text-decoration-none">Charts</a>
        </li>
      </ul>
    </div>
    <div class="col-12 py-1">
      <ul class="list-unstyled list-inline mb-0 d-flex flex-wrap">
        <li>
          <a href='https://gitlab.com/gitlab-org/gitlab-docs' alt='Docs Repo' class="pr-2 text-decoration-none">Docs Repo</a>
        </li>
        <li>
          <a href='https://about.gitlab.com/company/' alt='About GitLab' class="px-2 text-decoration-none">About GitLab</a>
        </li>
        <li>
          <a href='https://about.gitlab.com/terms/' alt='Terms' class="px-2 text-decoration-none">Terms</a>
        </li>
        <li>
          <a href='https://about.gitlab.com/privacy/' alt='Privacy Policy' class="px-2 text-decoration-none">Privacy Policy</a>
        </li>
        <li>
          <a href='/cookies-policy/' alt='Cookies Policy' class="px-2 text-decoration-none">Cookies Policy</a>
        </li>
        <li>
          <a href='https://about.gitlab.com/company/contact/' alt='Contact Us' class="px-2 text-decoration-none">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row py-2">
    <div class="col d-block">
      <div class="d-block d-sm-inline-flex">
        <i class="fa fa-creative-commons fa-lg pr-1" aria-hidden="true"></i>
        <i class="fa fa-user-circle-o fa-lg pr-1" aria-hidden="true"></i>
        <i class="fa fa-copyright fa-lg pr-1" aria-hidden="true"></i>
      </div>
      <div class="d-block d-sm-inline-flex">
        <p class="text-muted"> Created with <a href='https://nanoc.ws/' target='_blank'><span class="text-decoration-underline">Nanoc</span></a>, hosted on <a href='https://about.gitlab.com/stages-devops-lifecycle/pages/' target='_blank'><span class="text-decoration-underline">GitLab Pages</span></a></p>
      </div>
    </div>
  </div>
  <div class="row py-2 d-block d-md-none">
    <div class="col">
      <ul class="list-unstyled list-inline mb-0 d-flex flex-wrap">
        <li>
          <a href="https://www.facebook.com/gitlab" target="_blank" class="pr-3 text-decoration-none"><i class='fa fa-facebook-square'></i> <span class=sr-only>Facebook</span> </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg" target="_blank" class="pr-3 text-decoration-none"><i class='fa fa-youtube-play'></i> <span class=sr-only>YouTube</span> </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/gitlab-com" target="_blank" class="pr-3 text-decoration-none"><i class='fa fa-linkedin-square'></i> <span class=sr-only>LinkedIn</span> </a>
        </li>
        <li>
          <a href="https://twitter.com/gitlab" target="_blank" class="text-decoration-none"><i class='fa fa-twitter'></i> <span class=sr-only>Twitter</span></a>
        </li>
      </ul>
    </div>
  </div>
</footer>